<library path="src">
  <class name="Top" type="rqt_pickfrmk.pick_traj.Top" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for choosing trajectories in Rviz.
    </description>
    <qtgui>
      <group>
        <label>Logging</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to logging.</statustip>
      </group>
      <label>Bag</label>
      <icon type="theme">applications-other</icon>
      <statustip>A Python GUI plugin for choosing trajectories in Rviz.</statustip>
    </qtgui>
  </class>
</library>
